.content {
  margin: 0 0 0 0;
  padding: 0 0 0 0;

  .fixed-width {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px;
    @include breakpoint($screen-m) {
      max-width: 728px;
    }

    @include breakpoint($screen-l) {
      max-width: 940px;
    }
  }
}
