.donor-faq {
  margin: 40px auto;
  width: 90%;
  @include breakpoint($screen-l) {
    width: 80%;
  }

  .questions {
    list-style-position: inside;
    padding-left: 0px;

    li {
      color: $color-dark-purple;
      font-size: 20px;
      font-weight: 700;
      line-height: 29px;

      @include breakpoint($screen-l) {
        font-size: 25px;
        line-height: 34px;
      }
    }

    .question {
      color: $color-dark-purple;
      display: inline;
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 10px;

      @include breakpoint($screen-l) {
        font-size: 25px;
      }
    }

    .answer {
      @include base-text();
      li {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  .button-line {
    width: 100%;
  }
}

.button-line {
  text-align: center;
}
