.subscribe .fixed-width {
  max-width: 600px;
  text-align: center;

  #email {
    width: 100%;
  }

  #firstName {
    width: 100%;
    @include breakpoint($screen-m) {
      width: 50%;
    }
  }

  #lastName {
    width: 100%;
    @include breakpoint($screen-m) {
      width: 50%;
    }
  }

  .join {
    width: 200px;
  }

  .messages {
    color: red;
    text-align: left;
  }
}
