{% extends "layout.html" %}
{% block content %}
  <div class="donate-page">
    <div class="donate-page-wrapper {{ this.page_type }}">
      {% block donate_content %}{{ this.body }}{% endblock %}
    </div>
  </div>
{% endblock %}
