{% extends "donate-empty.html" %}
{% block header_description %}
{{ this.header_description }}

  <div class="content-center">
    <h4 class="text-white text-uppercase">Share the Tor Project</h4>
    <div class="share-icons">
      <a href="http://www.facebook.com/sharer.php?u=https://donate.torproject.org"><img src="../static/images/facebook-logo.png">
      </a>
      <a href="https://twitter.com/intent/tweet?text=Let%27s%20resist%20the%20surveillance%20pandemic.%20Use%20a%20mask,%20use%20Tor.%20Join%20me%20and%20donate%20to%20%40torproject%3A%20https%3A//donate.torproject.org%20%23UseAMaskUseTor"><img src="../static/images/twitter-white-on-blue.png">
      </a>
    </div>
  </div>
{% endblock %}
{% block donate_content %}
  <h4 class="text-uppercase">Got Skills?</h4>
  {{ this.body }}
  <hr>
  <a class="btn btn-primary" href="https://community.torproject.org/" target="_blank">I Want To Volunteer</a>
{% endblock %}
