{% include 'meta.html' %}
<body>
  <div class="page">
    <div class="container-fluid bg-dark">
      <div class="row flex-xl-nowrap {{ bag('alternatives', this.alt, 'order') }}">
        {% include 'hero.html' %}
      </div>
    </div>
    {% set locale = bag('alternatives', this.alt) %}
    <div class="container-fluid {{ locale.order }} {{ locale.direction }}">
      <div class="row flex-xl-nowrap {{ locale.order }} {{ locale.direction }}">
        <main role="main" class="mx-auto col-12 {{ locale.order }} {{ locale.direction }}">
          {% include this.html %}
          {% if this.parent.path != "/download" %}
            <div class="container pt-5 hero {{ locale.order }} {{ locale.direction }}">
              {% block body %}{% endblock %}
            </div>
          {% endif %}
        </main>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
</body>
</html>
