{% include 'meta.html' %}
<body>
  <div class="page pt-0">
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        {% set locale = bag('alternatives', this.alt) %}
        <main role="main" class="mx-auto col-12 {{ locale.order }} {{ locale.direction }}">
          {% if this.section_id != 'donate' %}<div class="container py-3 mt-5 content">{% endif %}
            {% block content %}{% endblock %}
          {% if this.section_id != 'donate' %}</div>{% endif %}
        </main>
      </div>
    </div>
  </div>
  {% if this.section == "Download" %}
    {% include 'footer-min.html' %}
  {% else %}
    {% include 'footer.html' %}
  {% endif %}
</body>
</html>
