{% extends "donate-empty.html" %}
{% block donate_content %}
<div class="fixed-width">
  <div class="state-disclosures">
    <div class="preamble">
      {{ this.preamble }}
    </div>
    {{ this.body }}
    <hr/>
    <div class="button-line">
      <a class="purple button" href="../donor-faq">Back to Donate FAQ</a>
    </div>
    <div class="button-line">
      <a class="purple button" href="../">Back to Donate Page</a>
    </div>
  </div>
</div>
{% endblock %}
